body {
  font-family: 'Oswald', sans-serif;
}
body {
  font-family: 'Oswald', sans-serif;
}
body {
  margin: 0;
}
.upper-header {
  display: flex;
  justify-content: flex-end;
  background-color: #103a4b;
  height: 70px;
  align-items: center;
}
.upper-header li {
  list-style: none;
}
.upper-header li a {
  margin-left: 10px;
}
.upper-header li a img {
  height: 60px;
}
.lower-header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.lower-header .blog-icon figure {
  margin: 0;
}
.lower-header .blog-icon figure img {
  height: 70px;
}
.lower-header .sobre-mi {
  padding-right: 10px;
}
.lower-header .sobre-mi a {
  font-size: 20px;
  color: #111;
}
.hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e6e9ed;
  padding: 50px 170px;
}
.hero__photo figure img {
  width: 100%;
}
.hero__text {
  font-size: 18px;
}
.hero__text div a button {
  width: 120px;
  height: 35px;
  border: 1px solid #47cfac;
  color: #47cfac;
  border-radius: 5px;
  font-weight: 200;
}
