@import "./stylus/_headers.styl"
@import "./stylus/_extended-footer.styl"

.hero
     width: 100%
     background-color: claro-secundario
     display: flex
     justify-content: center
     figure 
          img 
               height 50vh
.content
     width 80%
     margin: 0 auto 200px
     h4   
          border-bottom: 1px solid claro-secundario
     h2 
          font-size: 50px
          margin-left: 20px
@media screen and (max-width 560px)
     .hero
          figure 
               width: 100%
               img  
                    width: 100%
                    height: auto
     .content
          h2  
               font-size: 30px
               margin-left: 10px