@import "./stylus/_config.styl"
@import "./stylus/_headers.styl"
@import "/stylus/_heros.styl"
@import "/stylus/_grids.styl"
@import "/stylus/_footer.styl"

@media screen and (max-width 500px)
     footer
          padding: 20px 20px
          text-align: center