footer
     .extended-footer
          .container
               .item
                    figure
                         img(src="../icons/012-chat.png", alt="")
                    .item__content
                         h2 Contacto
                         p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi mollitia sint fugit earum.
               .item
                    figure
                         img(src="../icons/016-chat-1.png", alt="")
                    .item__content
                         h2 Contacto
                         p Lorem ipsum dolor sit amet consectetur adipisicing elit. At magnam repellat distinctio.
     h3 Lorem ipsum dolor sit amet consectetur adipisicing elit.