.hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: claro-secundario;
  padding: 50px 170px;
}
.hero__photo figure img {
  width: 100%;
}
.hero__text {
  font-size: 18px;
}
@media screen and (max-width: 1160px) {
  .hero {
    display: flex;
    flex-direction: column;
    padding: 50px 70px;
  }
  .hero__text h2 {
    margin: 10px auto;
  }
}
@media screen and (max-width: 500px) {
  .hero {
    padding: 10px 20px;
  }
}
