<!DOCTYPE html>
html(lang="en")
     head
          meta(charset="UTF-8")
          meta(name="viewport", content="width=device-width, initial-scale=1.0")
          title Mi Blog
          link(href='https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap' rel='stylesheet')
          link(rel="stylesheet", href="../css/blogs.css")
     body
          include ./components/_header.pug 
          main
               section.hero
                    .hero__photo
                         figure
                              img(src="../images/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg", alt="")
                    .hero__text
                         div
                              h2 Título del blogpost
                              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque nulla sit labore explicabo suscipit. Tempora praesentium accusantium sequi vitae laboriosam, distinctio, ad velit deserunt, optio omnis nesciunt fuga provident ducimus enim cum debitis ea sapiente nostrum reprehenderit? Tempora voluptates, voluptatibus perspiciatis excepturi autem delectus eaque dolor alias illo quos consectetur.
                              a    
                                   button Leer más