include ./components/_meta.pug
block contenidos
          include ./components/_header.pug
          main
               h1 Conoce las novedades y <br> noticias del mundo tech
               a(href="/")
                    button Conoce más