<!DOCTYPE html>
html(lang="en")
     head
          meta(charset="UTF-8")
          meta(name="viewport", content="width=device-width, initial-scale=1.0")
          title Sobre mi
          link(href='https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap' rel='stylesheet')
          link(rel="stylesheet", href="../css/sobre-mi.css")
     body
          include ./components/_header.pug
          section.hero
               .hero-container
                    figure       
                         img(src="../images/perfil.jpg", alt="")
                    .hero-text
                         h2 Hola!
                         p Texto de introduccion Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis similique, fugit praesentium consequatur rem quis. Tempore quam ullam, fuga aperiam maiores labore minus tenetur magnam deleniti quos a doloribus corporis enim excepturi autem et deserunt ipsum dolores alias iure harum modi, laborum reiciendis? Ut placeat necessitatibus, libero eveniet nisi nulla unde fugit omnis quos mollitia rerum incidunt veritatis hic corporis?
          section.projects
               h4 Proyectos
               .projects-container
                    .projects-item
                         h3 Texto
                         p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil architecto rem accusamus praesentium fugit laudantium vero, magni nesciunt tempore cumque. Vitae aspernatur unde non eveniet.
                         p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima unde aliquid quas quos nam, fuga nemo! A ullam fugiat ut aliquid, adipisci laudantium.
                    .projects-item
                         h3 Texto
                         p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil architecto rem accusamus praesentium fugit laudantium vero, magni nesciunt tempore cumque. Vitae aspernatur unde non eveniet.
                         p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima unde aliquid quas quos nam, fuga nemo! A ullam fugiat ut aliquid, adipisci laudantium.
                    .projects-item
                         h3 Texto
                         p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil architecto rem accusamus praesentium fugit laudantium vero, magni nesciunt tempore cumque. Vitae aspernatur unde non eveniet.
                         p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima unde aliquid quas quos nam, fuga nemo! A ullam fugiat ut aliquid, adipisci laudantium.
          include ./components/_extended-footer.pug