primario =  #103a4b
secundario = #47cfac
claro = #EEE
claro-secundario = #e6e9ed
obscuro = #111
fuente-primaria = 'Oswald', sans-serif

button()
     width: 120px
     height: 35px
     border: 1px solid secundario
     color: secundario 
     border-radius: 5px
     font-weight: 200

body     
     font-family: fuente-primaria