footer
     .extended-footer
          display: flex
          justify-content: center
          background-color: claro-secundario
          padding: 40px 0
          .container
               display: flex
               padding: 0 50px
               .item
                    display: flex
                    figure    
                         img 
                              width: 140px
                    &__content
                         h2  
                              text-decoration: underline
                              font-weight: 600px
                              font-size: 30px
                              margin-bottom: 0
                         p    
                              margin-top: 5px
                              font-size: 20px
     h3
          height            100px
          background-color  primario
          color             claro
          border-top        40px solid secundario
          display           flex
          justify-content   center
          align-items       center
          margin: 0