footer 
     height            100px
     background-color  primario
     color             claro
     border-top        40px solid secundario
     display           flex
     justify-content   center
     align-items       center

@media screen and (max-width 500px)
     footer
          padding: 20px 20px
          text-align: center