footer 
     height            100px
     background-color  primario
     color             claro
     border-top        40px solid secundario
     display           flex
     justify-content   center
     align-items       center