@import "_config.styl"

body
     margin 0
.upper-header
     display           flex
     justify-content   flex-end
     background-color  primario
     height            70px
     align-items       center
     li
          list-style none
          a
               margin-left 10px
               img
                    height 60px
.lower-header
     height           70px
     display          flex
     align-items      center
     justify-content  space-between
     padding          0 10px
     .blog-icon
          figure
               margin 0
               img
                    height 70px
     .sobre-mi
          padding-right 10px
          a
               font-size  20px
               color      obscuro